.overview_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.overview_card{
    width: 180px;
    height: 180px;
    margin: 20px;
}

.overview_card:hover {
    outline: 2px dashed deepskyblue;

}
