.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project{
    display: flex;
    flex-direction: column;
}

.card:hover {
    outline: 2px dashed deepskyblue;
}
